<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row">
    <div> 
    <h3>Edit Listing</h3>
    <form action="/listings/<%=listing._id %>?_method=PUT" method="POST" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" type="text" value="<%=listing.title%>" class="form-control" required>
            <div class="invalid-feedback">Title should be valid</div>
            <div class="valid-feedback">Title looks good!!</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" type="text" class="form-control" required><%=listing.description%></textarea></textarea>
            <div class="invalid-feedback">Please write a little description</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image </label>
            <input name="listing[image]" type="text"  name="image" value="<%=listing.image.url%>" class="form-control" required>
            <div class="invalid-feedback">Image url/link should be valid</div>
        </div>
        <div class="row">
            <div class="mb-3 col-4">
                <label for="price" class="form-label">Price </label>
                <input name="listing[price]" type="number" value="<%=listing.price%>" class="form-control" required>
                <div class="invalid-feedback">Price should be valid</div>
            </div>
            <div class="mb-3 col-8">
                <label for="country" class="form-label">Country </label>
                <input name="listing[country]" type="text" value="<%=listing.country%>" class="form-control" required>
                <div class="invalid-feedback">Country should be valid</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location </label>
            <input name="listing[location]" type="text" value="<%=listing.location%>" class="form-control" required>
            <div class="invalid-feedback">Location should be valid</div>
        </div>
        <button class="btn btn-dark edit-btn mt-3">Edit Listing</button>
        <br>
    </form>
</div>
</div>
</body>
